<div style="width: 1440px; height: 2314px; position: relative; background: #F9F9F9">
    <div style="width: 1276.29px; height: 0px; left: 80px; top: 112px; position: absolute; border: 1px black solid"></div>
    <div style="left: 80px; top: 40px; position: absolute; color: black; font-size: 50px; font-family: Montserrat; font-weight: 400; word-wrap: break-word">Dashboard</div>
    <img style="width: 745.65px; height: 411.36px; left: 610.64px; top: 249.73px; position: absolute" src="https://via.placeholder.com/746x411" />
    <img style="width: 1207.20px; height: 503.15px; left: 116.40px; top: 829.78px; position: absolute" src="https://via.placeholder.com/1207x503" />
    <img style="width: 507.58px; height: 389.69px; left: 80px; top: 1501.62px; position: absolute" src="https://via.placeholder.com/508x390" />
    <img style="width: 681.71px; height: 389.69px; left: 674.58px; top: 1501.62px; position: absolute" src="https://via.placeholder.com/682x390" />
    <img style="width: 454.50px; height: 418.48px; left: 80px; top: 246.17px; position: absolute" src="https://via.placeholder.com/454x418" />
  </div>